body {
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

text {
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

svg {
    overflow: visible;
}

polygon {
    fill: white;
    fill-opacity: 0.0;
}

#heatmap-div {
    overflow: auto;
}

#heatmap-svg rect.btn {
    transition: 0.1s;
}
#heatmap-svg rect.btn:hover {
    stroke-width: 5;
}

#heatmap-svg rect.btn:not(:hover) {
    stroke-width: 0;
}